.statistics{
    display: flex;
    flex-direction: column;
    gap: 10vw;
    background-color: #fff;
    width: fit-content;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 5px;
}

.filter form{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

.display p{
    margin-bottom: .2rem;
}

.error{
    color: red;
}

.disabled{
    background-color: grey;
    cursor:not-allowed;
}

.date-error{
    color: red;
    font-size: .8rem;
    position: absolute;
    transform: translateY(-100%);
    font-style: italic;
}

@media(max-width: 1440px){
    .filter form{
        /* align-items: flex-end; */
    }
}

@media(max-width: 600px){
    .statistics{
        padding: 1rem;
    }
    .filter form{
        flex-wrap: wrap;
        gap: .5rem;
    }
}